* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg:#0b0f1a;         /* negro azulado */
  --ink:#e6e9ef;        /* texto principal */
  --muted:#9aa7b3;      /* texto secundario */
  --brand:#0d2a7a;      /* azul marino */
  --brand-2:#0f4ccf;    /* azul acento */
  --card:#0f1422;       /* fondo tarjetas */
  --line:#1e2638;       /* bordes sutiles */
  --brand-2-btn:#0f4ccfa6;    /* azul acento para btn */
  --success:#21c07a;
  --warn:#ffb020;
  --danger:#ef476f;
  --border-radius-cards: 22px;
}

html,body{
  margin:0;
  padding:0;
  height: 100%;
  overflow-x: hidden;
  line-height: 1.5rem;
  font-style: normal;
  background:var(--bg);
  color:var(--ink);
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* REUSABLE COMPONENT OF STYLE */

a{
  color:var(--ink);
  text-decoration:none
}

img{
  max-width:100%;
  height:auto;
  display:block
}

.container{
  max-width:1024px;
  margin:0 auto;
  box-sizing: border-box;
  height: 100vh;
}

.grid{
  display:grid;
  gap:24px;
}

.btn{
  display:inline-flex;
  align-items:center;
  gap:10px;
  border:1px solid var(--line);
  padding:12px 16px;
  border-radius:14px;
  background:#0b1020;
  color:#fff;
  font-weight:600;
  transition:transform .15s ease, border-color .2s ease;
}

.btn:hover{
  transform:translateY(-2px);
  border-color:var(--brand-2);
}

.btn.primary{
  background:linear-gradient(135deg,var(--brand),var(--brand-2));
  border-color:transparent;
}

.section-span {
  color: var(--muted); 
  font-size: 26px;
  font-weight: bold;
}

.card{
  background:linear-gradient(180deg,rgba(255,255,255,0.02),rgba(255,255,255,0));
  border:1px solid var(--line);
  border-radius:28px;
  padding: 28px 32px;
}

.card:hover{
  border-color:#27324a
}

.section_normal{
  scroll-margin-top: 60px;
  height: 100vh;
  overflow: hidden;
  margin: 96px 0;
}

.muted{
  color:var(--muted)
}

section h2 {
  font-size:28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: -0.015em; 
}

h3{
  font-family:"Montserrat", sans-serif;
  font-size: 24px;
  line-height: 1.1428571429;
  font-weight: 600;
  letter-spacing: .007em;
  margin-top: 8px;
}

.accent-word {
  color: var(--brand-2);
  font-weight: bold;
  font-size: 18px;
}

.pro__slogan {
  font-size: 1rem;
}

/* Flexbox Template for Container*/
.temp-lyt-sect{
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Title format */
.ti-sect-lef{
  display: flex;
  align-items: center;
  flex-direction: start;
  margin-bottom: 60px;
}

.ti-sect-ri{
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 60px;
}

/* Open and Close Modal */
.open-modal {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: var(--brand-2-btn);
  color: white;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: 18px;
  display: flex;           
  align-items: center;     
  justify-content: center; 
}

.close_icon {
  transition: transform 0.3s ease;
  font-size: 20px;
  pointer-events: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close_icon:hover {
  transform: rotate(90deg);
}

/* ------ HOME-SECTION ------ */

.hero{
  background-image: 
    linear-gradient(270deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, .9) 100%),
    linear-gradient(180deg, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0) 95%), 
    url(/assets/Background_Home_Page/Background_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 75%;
  scroll-margin-top: 0 !important;
  z-index: 1;
  height: 100vh;
}

/* HOME__NAVE */

.hero__nav{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:14px 0;
  height: 54px;;
}

.hero__brand{
  display:flex;
  align-items:center;
  gap:12px
}

.hero__logo > img {
  max-width:100%;
  height:30px;
  display:block
}

.hero__nav-links{
  display:flex;
  gap:18px;
  color:var(--ink)
}

/* HOME__CONTENT */
.hero__content{
  margin-top: auto;
  margin-bottom: auto;
}

.hero__content-tag{
  display:inline-block;
  padding:6px 10px;
  margin-bottom: 16px;
  border:1px solid var(--brand-2);
  border-radius:999px;
  font-size:12px;
  color:var(--muted);
}

.hero__content-name{
  font-size:clamp(48px,6vw,72px);
  line-height: 1.08;
  font-family: "Montserrat", sans-serif;
}

.hero__content-name{
  padding-bottom: 20px;
}

.hero__content-btn{
  margin-top:20px;
  display:flex;
  gap:12px;
  flex-wrap:wrap
}

/* ------ About ------ */ 
.about{
  scroll-margin-top: 18px;
  height: 100vh;
  width:100%;
  display: block;
  margin-top: 160px;
}

.about__container{
  justify-content: center;
  align-items: center;
}

.about__content{
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  column-gap: 6%;
}

.about__content-photo{
  width: 100%;
  max-width: 320px;         /* optional limit */
  aspect-ratio: 19 / 26;     /* controls height; change as needed */
  overflow: hidden;
  display: block;
  margin: 0 auto;    /* Centra vertical */
}

.about__content-photo > img{
  width: 100%;
  height: 100%;
  object-fit: cover;        /* keeps proportions, fills container */
  display: block;
}

.about__bio{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about__description {
  letter-spacing: .011em;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.38;
}

.about__title {
  font-size:clamp(24px,4vw,48px);
  font-weight: 600;
  line-height: 1.04167;
  font-family: "Montserrat", sans-serif;
  padding: 8px 0  ;
}

/* ------ SKILLS ------ */
.skills{
  scroll-margin-top: 20px;
  height: 100vh;
  overflow: hidden;
  margin: 160px 0;
}

.skills__content{
  margin: auto;
  margin: auto;
}

.skills__content > img{
  width: 900px;
  height: auto;
  max-width: 840px;
}

/* Btn location */
.skill__btn-fr{
  top: 60.5%;
  left: 28.5%;
}

.skill__btn-sc{
  top: 82.5%;
  left: 69.5%;
}

.skill__btn-tr{ 
  top: 60.5%;
  left: 85.5%;
}

/* Modal per Skill */
.skill__modal {
  background: white; /* tono beige/rosa claro */
  color: var(--bg); /* Font color */
  padding: 2rem;
  border-radius: var(--border-radius-cards);
  width: 816px;
  overflow: auto;
  position: relative;
  box-shadow: 0 20px 60px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  /* Limita la altura del contenido a un porcentaje de la ventana */
  overflow-y: auto; /* Permite el scroll vertical si el contenido excede la altura */
  margin-top: 40px;
  margin-bottom: 40px;
}

.skill__modal-cont__grid-space {
  column-gap: 16px;
}

.skills__modal-cont{
  gap: 12px;
}

.skills__modal-cont__list {
  list-style-type: square;   /* disc | circle | square | none */
  list-style-position: inside; /* outside | inside */
  padding-left: 14px;
}

.skills__cont-soft {
  margin-top: 26px;
}

/* ------ Projects ------ */
.proj__container{
  max-width:1024px;
  margin:0 auto;
  box-sizing: border-box;
}

.proj__carrusel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
}

.proj__carrusel-card {
  flex: 0 0 34%;
  height: 580px;
  background-position: center;
  position: relative;
  border-radius: var(--border-radius-cards);
  transform: scale(1.0);
  transition: transform 0.3s ease-in-out;
}

.proj__carrusel-card:hover {
  transform: scale(1.02);
}

.proj__card-fi {
  background-image: url('./assets/Projects/Wallpaper/Sismic/EstructuraRevit_Sismic.png');
  background-size: cover;
}

.proj__card-sc {
  background-image: url('./assets/Projects/Robot/AsemblieRobot.png');
  background-size: cover;
}
.proj__card-tr {
  background-image: url('./assets/Projects/Vortex/VortexVibrationWallpaper2.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.proj__card-fr {
  background-image: url('./assets/Projects/Web/WebWallpaper.jpg');
  background-size: cover;
  background-position: 80%;
}

.proj__carrusel-card__info {
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, .9) 100%);
  padding: 2.5rem;
  z-index: 2;
  height: 100%;
  border-radius: var(--border-radius-cards);
}

.proj__carrusel-card__info > h2 {
  margin: 0;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}

.proj__carrusel-card__info > p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

/* Layout + style of modal content */
.grid-cont-mod {
  display: grid;
  grid-template-areas: 
    "header header"
    "Intro Intro"
    "colum-fr colum-sc"
    "concl concl";
  grid-template-columns: 1fr 1fr;
  padding: 28px;
}

.proj__card-grid-gap {
  gap: 20px;
}

.modal-secs {
  background-color: rgb(245, 245, 247);
  border-radius: var(--border-radius-cards);
  padding: 28px;
}

.modal-header > span {
  color: var(--brand-2-btn);
  font-weight: 400;
}

.modal-header > h2 {
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
} 

.modal-header {
  grid-area: header;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.modal-intr {
  grid-area: Intro;
}

.modal-col-fr {
  grid-area: colum-fr;
}

.modal-col-sc {
  grid-area: colum-sc;
}

.modal-concl {
  grid-area: concl;
}

/* Carrusel Controls */
.proj__controls {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 48px;
}

.proj__controls button {
  background: #222;
  color: white;
  border: none;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50px;
  transition: background 0.3s;
}

.proj__controls button:hover {
  background: #444;
}

/* ==== Overlay + Modal ==== */
.overlay {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
  /* Inicialmente oculto */
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  overflow: auto;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: white; /* tono beige/rosa claro */
  color: var(--bg); /* Font color */
  padding: 2rem;
  border-radius: var(--border-radius-cards);
  width: 846px;
  overflow: auto;
  position: relative;
  box-shadow: 0 20px 60px rgba(0,0,0,0.3);
  transform: scale(0.7) translateY(-50px);
  transition: all 0.3s ease;
  /* Limita la altura del contenido a un porcentaje de la ventana */
  overflow-y: auto; /* Permite el scroll vertical si el contenido excede la altura */
  margin-top: 40px;
  margin-bottom: 40px;
}

.overlay.active .modal {
  transform: scale(1) translateY(0);
}

.modal-content {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.m-cat-span {
  color: var(--muted);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.modal-content h2 {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
}

/* Botón cerrar modal */
#close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#close:hover {
  transform: rotate(90deg);
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Modal: Robot */
.modal__list-robot{
  list-style-position: inside;
  padding-left: 8px;
}

.img__caption{
  text-align: center;
  font-style: italic;
  font-size: 9px;
}

/* ------ PROFESSIONAL EXPERIENCE ------ */
.card_experience{
  background:linear-gradient(180deg,rgba(255,255,255,0.02),rgba(255,255,255,0));
  border:1px solid var(--line);
  border-radius:28px;
  padding: 28px 32px;
  transform: scale(1.0);
  transition: transform 0.3s ease-in-out;
}

.skill-container {
  max-width:1100px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 24px 24px 24px;
  height: 100vh;
}

.skill-title {
  margin-bottom: 24px;
}

.timeline{
  position:relative;
  display: flex;
  flex-direction: column;
}

.t-item_CRTG {
  position:relative;
  background-image: 
    linear-gradient(0deg, rgba(11, 15, 26, .9) 0%, rgba(0, 0, 0, 0) 95%), 
    url(./assets/Experience/CRTG/WALLPAPER_CRTG.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left:36px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 240px;
  margin-bottom: 20px;
}

.t-item_HK {
  position:relative;
  background-image: 
    linear-gradient(0deg, rgba(11, 15, 26, .9) 0%, rgba(0, 0, 0, 0) 95%), 
    url(./assets/Experience/HK/HK_Experience_BG1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left:36px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 240px;
  margin-bottom: 20px;
}

.card_experience:hover {
  transform: scale(1.02);
}

.muted-item-right {
  display: flex;
  flex-direction: column;
}

.muted-it-ri-date {
  margin-left: 24px;
}

.company {
  color: var(--muted);
  font-size: 16px;
}

.date {
  color: var(--muted);
}

.location {
  font-size: 16px;
}

/* Education */
.edu-card-grid {
  display: grid;
  grid-template-areas:
    "logo"
    "content";
  grid-template-columns: 1fr 5fr 2fr; 
}

.edu-card-log {
  width: 50%; /* Ocupa la mitad del ancho del padre */
  max-width: 400px; /* Pero nunca más de 600px */
  margin: 0 auto; /* Centrar el contenedor */
} 

.utp-logo {
  max-width: 100%; /* La imagen nunca excede el ancho del contenedor */
  height: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.edu-card-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edu-card-date {
  display: flex;
  justify-content: end;
}

/* Galery Section */
.section_sh{
  scroll-margin-top: 60px;
  height: 100vh;
  overflow: hidden;
}

.section_galery{
  scroll-margin-top: 60px;
  height: 100vh;
  overflow: hidden;
}

.galery-cont-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.galery-image-container {
  width: 100%;
  max-width: 680px;         /* optional limit */
  aspect-ratio: 16 / 9;     /* controls height; change as needed */
  overflow: hidden;
  border-radius: 12px;      /* optional */
  display: block;
  margin: 0 auto;
}

.galery-image-container > img{
  width: 100%;
  height: 100%;
  object-fit: cover;        /* keeps proportions, fills container */
  display: block;
} 

.galery-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.galery-btn{
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--ink);
}

.galery-btn::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.galery-btn:hover::after {
  background-color: #007BFF; /* Blue underline on hover */
}

.galery-btn.active::after {
  background-color: #007BFF; /* Blue underline when active */
}

.galery-cont-info{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Footer */
footer{
  color:var(--ink);
}

.footer_container_sect{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
  max-width:1100px;
  margin:0 auto 0 auto;
  padding: 24px;
  font-size: 12px;
}

.footer_logo{
  width: 48px;
  height: 100%;
}

.footer_logo > img{
  /* Ensures the image will never exceed the width of its parent container (making it responsive) */
  max-width: 100%; 
    
  /* CRITICAL: Tells the browser to automatically calculate the height based on the width to maintain the original aspect ratio */
  height: auto;
    
  /* Optional: Prevents the image from growing larger than its original pixel size */
  width: auto;
} 

.footer_list_socialmedia{
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
} 

.footer_cont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--muted);
}


.footer_container_sect > .footer_list_socialmedia > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #666;
  transition: background-color 0.3s, height 0.3s;
}

.footer_container_sect > .footer_list_socialmedia > a:hover::after {
  background-color: #3b82f6;
  height: 2px;
}

/* Animation Frame */
@keyframes scrollme-animation {
  0% {
    opacity: 1;
    transform: translateY(-35px);
  }
  
  100% {
    opacity: 0;
  }
}

/* Responsive */
@media (max-width: 900px){
    .about{grid-template-columns:1fr}
}